@tailwind base;
@tailwind components;
@tailwind utilities;


  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 11, 9, 20;
    --background-end-rgb: 11, 9, 20;
  }

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {

  .zoomInUp {
    animation: zoomInUp;
    animation-duration: 2s;
  }

  .fadeIn {
    animation: fadeIn;
    animation-duration: 1.5s;
  }

  .fadeInDown {
    animation: fadeInDown;
    animation-duration: 1s;
  }

  .backInLeft {
    animation: backInLeft;
    animation-duration: 1s;
  }

  .backInRight {
    animation: backInRight;
    animation-duration: 1s;
  }

}